services:
  ollama:
    image: ollama/ollama:0.12.10
    container_name: ollama
    restart: unless-stopped
    init: true
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  ollama_data:

networks:
  ollama-net:
    external: true
    name: ollama-net
